
# PlanAhead Generated IO constraints 

NET "led_disable[5]" IOSTANDARD = LVCMOS33;
NET "led_disable[4]" IOSTANDARD = LVCMOS33;
NET "led_disable[3]" IOSTANDARD = LVCMOS33;
NET "led_disable[2]" IOSTANDARD = LVCMOS33;
NET "led_disable[1]" IOSTANDARD = LVCMOS33;
NET "led_disable[0]" IOSTANDARD = LVCMOS33;
NET "led_enable[1]" IOSTANDARD = LVCMOS33;
NET "led_enable[0]" IOSTANDARD = LVCMOS33;
NET "num_1[3]" IOSTANDARD = LVCMOS33;
NET "num_1[2]" IOSTANDARD = LVCMOS33;
NET "num_1[1]" IOSTANDARD = LVCMOS33;
NET "num_1[0]" IOSTANDARD = LVCMOS33;
NET "num_2[3]" IOSTANDARD = LVCMOS33;
NET "num_2[2]" IOSTANDARD = LVCMOS33;
NET "num_2[1]" IOSTANDARD = LVCMOS33;
NET "num_2[0]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[7]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[6]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[5]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[4]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[3]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[2]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[1]" IOSTANDARD = LVCMOS33;
NET "sev_seg_leds[0]" IOSTANDARD = LVCMOS33;
NET "clk_main" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "led_disable[5]" LOC = N4;
NET "led_disable[4]" LOC = N2;
NET "led_disable[3]" LOC = N5;
NET "led_disable[2]" LOC = M3;
NET "led_disable[1]" LOC = M6;
NET "led_disable[0]" LOC = N6;
NET "led_enable[1]" LOC = M1;
NET "led_enable[0]" LOC = L1;
NET "num_1[3]" LOC = R6;
NET "num_1[2]" LOC = R7;
NET "num_1[1]" LOC = U8;
NET "num_1[0]" LOC = U9;
NET "num_2[3]" LOC = P4;
NET "num_2[2]" LOC = P3;
NET "num_2[1]" LOC = R3;
NET "num_2[0]" LOC = T1;
NET "sev_seg_leds[7]" LOC = L6;
NET "sev_seg_leds[6]" LOC = M2;
NET "sev_seg_leds[5]" LOC = K3;
NET "sev_seg_leds[4]" LOC = L4;
NET "sev_seg_leds[3]" LOC = L5;
NET "sev_seg_leds[2]" LOC = N1;
NET "sev_seg_leds[1]" LOC = L3;
NET "sev_seg_leds[0]" LOC = M4;
NET "clk_main" LOC = E3;
NET "reset" LOC = E16;
